<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.streamlance">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Streamlance">
        <activity android:name=".MainPage.Map_Activity"></activity>
        <activity
            android:name=".FlowTwo.Diagnosis_Proivider_Quotes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowTwo.DiagnosisReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowTwo.DiagnosisQuote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Services.RecivedQuote"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Payments.ReviewAndPay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Services.BookNowSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowTwo.Diagonosis"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GarageFragments.Quote_DetailsCompleted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GarageFragments.Quote_Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GarageFragments.Garage_Info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage.ProvidersQuotes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage.ByMake"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Services.Services_Summary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Services.SubcategoryServices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Services.Choose_services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage.ChatDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.GetStarted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.PasswordVerification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainPage.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.RegisterUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.VerifyOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.OTP_Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.Onboarding"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.Splash_Screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>